@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    text-align: center;
    background: #24282f;
    font-family: 'Montserrat', sans-serif;
}

.card {
    display: inline-block;
    margin: 30px;
    border: 0px solid transparent;
    box-sizing: border-box;
    background: #3c3e44;
    color: #f5f5f5;
    text-align: left;
}

.card-title {
    font-size: 20px;
}

.card-body {
    color: #f5f5f5;
    padding: 10px; 
    font-size: 15px;
}
.card div {
    display: inline;
}

.btn {
    background-color: #fff;
}

.more {
    background-color: #5d5f63;
    color: #fff;
    margin: 10px;
}